<section id="gigs" class="container">
  <h1>All messages</h1>

  {{#each messages}}
  <div class="gig">
    <h3>User Name</h3>
    <p>{{message}}</p>
    <div class="tech">
      <small>Created at: <span>{{created_at}}</span></small>
    </div>
  </div>
  {{else}}
  <p>No Message available</p>
  {{/each}}

</section>