<section id="gigs" class="container">
  <h1>All Students</h1>

  {{#each students}}
  <div class="gig">
    <h3>Student Name</h3>
    <p>{{dataValues.name}}</p>
    <div class="tech">
      <small>Created at: <span>{{dataValues.created_at}}</span></small>
    </div>
  </div>
  {{else}}
  <p>No Message available</p>
  {{/each}}

</section>