<section id="add" class="container">
  <div class="form-wrap">
    <h1>Login</h1>
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="input-box">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="input-box">
      </div>
      <input type="submit" value="Connexion" class="btn btn-reverse">
    </form>
  </div>
</section>