<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add Message</h1>
    <form action="/message" method="POST">
      <div class="input-group">
        <label for="message">Message</label>
        <input type="text" name="message" id="message" class="input-box">
      </div>
      <input type="submit" value="Post" class="btn btn-reverse">
    </form>
  </div>
</section>